@use '_variables' as v;

// We import the colors map from _variables file to use it here
// We deconstruct the map to use the 2 values. In a list we'll only pass 1 variable instead of 2
@each $prop, $var in v.$colors {
  .bg-#{$prop} {
    background-color: #{$var};
  }
}

// We do the same as before but with another class
@each $prop, $var in v.$colors {
  .text-#{$prop} {
    color: #{$var};
  }
}

// More examples of looping

// Display Types
@each $var in v.$display {
  .d-#{$var} {
    display: #{$var};
  }
}

// Flexbox

@each $var in v.$justify-content {
  .justify-#{$var} {
    justify-content: #{$var};
  }
}

@each $var in v.$align-items {
  .align-items-#{$var} {
    align-items: #{$var};
  }
}

@each $var in v.$align-content {
  .align-content-#{$var} {
    align-content: #{$var};
  }
}
